
.review{
    margin-top: 330px;
}
.review .card{
    border: 0;
 
}
.review .card-header{
    border: 0;
    background-color: transparent;


}

.review .card:hover{
    background-image: linear-gradient(75deg, #b1d319,#b1ec0f);
    color: #fff !important;
    transition:  .1s  all ease-in-out !important;
}
.review .card:hover .card-body{
    background-image: url(../../../image/quoto.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 40%;
}
.review .card:hover h6,
.review .card:hover p
{
    color: #fff !important;

}
.review .card:hover img{
    display: none;
}
/* //75deg, #19D3AE,#0fcfec */