.makeserach{
    background-image: url(../../../image/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 420px;
    background-position: center center;
    margin-top: 40px;

}
.makeserach::before{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
  background-color: white;
    opacity: .3;
    top: 0;
}
.makeserach img{
    background-color: yellow;

    height:80%;
    transform: translateY(-10px);

}