.navigation{
    margin-top: 50px;
    text-align: center;
}

nav a{
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    margin-right: 20px;
    padding: 5px;
    color: rgb(161, 161, 10);
}
nav a:hover{
    background-color: gray;
}